#img{
    height: 400px;
    width: 400px;
    margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
 
#img:hover {
    height: 500px;
    width: 500px;
    margin-left: -50px;
}

